.container {
    width: 60%;
    margin-left:20%;
}

.sendbutton {
    margin-top: 4%;
    width:100%;
    height: 50px;
    border-radius: 10px;
    background-color:#00bb3f;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #70e500;
}

.errorform {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    justify-content: center;
    background-color: #FF2C00;
    color: #7c07a9;
    width: 100%;
    height:100px;
    margin-top: 25px;
}