.user_fields {
    height: 80%;
    width: 90%;
  }
  
  .wrapper {
    width: 100%;
    margin-top: 5%;
  }
  
  .name {
    padding-top: 10px; 
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #edebeb;
    border: none;
    border-bottom: 2px solid grey;
    resize: none;
    width:97%;
    outline: none;
    overflow: hidden;
    font-size: 20px;
    padding-left: 3%;
    letter-spacing: 0.5px;
    display: block;
  }
  
  .userlen {
    font-size: 15px;
    padding-left: 3%;
    color: #696969;
    margin: 0 0 0 0;
  }